<!-- =========================================================================================
  File Name: FullPage.vue
  Description: Full page layout
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div class="layout--full-page">
    <the-navbar-horizontal navbarType="static" class="text-base" />
    <router-view></router-view>
  </div>
</template>

<script>
import TheNavbarHorizontal from '@/layouts/components/navbar/TheNavbarHorizontal.vue';

export default {
  components: {
    TheNavbarHorizontal
  }
};
</script>
