<template>
  <div>
    <vx-card
      v-for="(s, indexs) in $store.state.studio.scenes"
      :key="indexs"
      :id="'scene_card_' + indexs"
      class="scene-card"
      :class="{
        activeScene:
          $store.state.studio.currentActiveScene === parseInt(indexs) + 1
      }"
    >
      <p class="font-semibold items-left mb-base" style="white-space: normal;">
        {{ s }}
      </p>
      <div
        v-if="addedAudioVideos[parseInt(indexs) + 1] !== undefined"
        class="mb-base"
      >
        <video
          width="100%"
          height="auto"
          controls
          :src="constants.apiUrl + '/' + addedAudioVideos[parseInt(indexs) + 1]"
        >
          <!--<source :src="selectedVideos[parseInt(indexs)+1][1]" type="video/mp4">-->
          {{ $t('studio.errors.e1') }}
        </video>
      </div>
      <div
        v-else-if="preparedScenesVideos[parseInt(indexs) + 1] !== undefined"
        class="mb-base"
      >
        <video width="100%" height="auto" controls>
          <source
            :src="
              constants.apiUrl +
                '/' +
                preparedScenesVideos[parseInt(indexs) + 1]
            "
            type="video/mp4"
          />
          <source
            :src="preparedScenesVideos[parseInt(indexs) + 1]"
            type="video/mp4"
          />
          {{ $t('studio.errors.e1') }}
        </video>
      </div>
      <!--<div v-else class="items-left mb-base">
        <h6 class="mb-2">{{$store.state.videoWiki.selectedAudios[indexs].name}}</h6>
        <audio class="audio-el" controls>
          <source :src="$store.state.videoWiki.API_URL + $store.state.videoWiki.selectedAudios[indexs].url" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>-->
      <audio-recorder
        :sceneNum="indexs"
        @updateComponent="updateComponent"
      ></audio-recorder>
    </vx-card>
    <div style="margin-bottom: 150px"></div>
  </div>
</template>

<script>
import constants from '../../../constant';
import AudioRecorder from '../components/audio-recorder';
export default {
  name: 'AddMusic',
  components: { AudioRecorder },
  data() {
    return {
      constants
    };
  },
  computed: {
    addedAudioVideos() {
      return this.$store.state.studio.addedAudioVideos;
    },
    preparedScenesVideos() {
      return this.$store.state.studio.preparedScenesVideos;
    }
  },
  methods: {
    updateComponent() {
      this.$forceUpdate();
    },
    callback(msg) {
      console.debug('Event: ', msg);
    },
    audioVideoMerge() {},
    updateScroll() {
      // let scrollPosition = window.scrollY
      // console.log(scrollPosition)
      for (const s in this.$store.state.studio.scenes) {
        const rect = document
          .getElementById('scene_card_' + s)
          .getBoundingClientRect();
        // console.log(s, "bounding client", rect.top, rect.bottom);

        if (rect.top < 200 && rect.bottom > 500) {
          // console.log(s+" is active")
          this.$store.commit('studio/setActiveScene', parseInt(s) + 1);
        }
      }
    }
  },
  mounted() {
    window.addEventListener('scroll', this.updateScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.updateScroll);
    this.$store.commit('studio/setActiveScene', 1);
  }
};
</script>

<style scoped>
.scene-card {
  min-height: 30rem;
  /*background: #7367F0;
    color: white;*/
  opacity: 0.2;
  box-shadow: none;
  margin-bottom: 10rem;
}
.activeScene {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1) !important;
  opacity: 1 !important;
}
.items-center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}
</style>
