<template>
  <div>
    <vx-card
      v-for="(s, indexs) in $store.state.studio.scenes"
      :key="indexs"
      :id="'scene_card_' + indexs"
      class="scene-card"
      :class="{
        activeScene:
          $store.state.studio.currentActiveScene === parseInt(indexs) + 1
      }"
    >
      <div
        v-if="preparedScenesVideos[parseInt(indexs) + 1]"
        class="scene-video mb-base"
      >
        <video width="100%" height="auto" controls>
          <source
            :src="
              constants.apiUrl +
                '/' +
                preparedScenesVideos[parseInt(indexs) + 1]
            "
            type="video/mp4"
          />
          <source
            :src="preparedScenesVideos[parseInt(indexs) + 1]"
            type="video/mp4"
          />
          {{ $t('studio.errors.e1') }}
        </video>
      </div>
      <div
        v-else-if="
          selectedFromLibraryVideos[parseInt(indexs) + 1] !== undefined
        "
        class="scene-video mb-base"
      >
        <video
          width="100%"
          height="auto"
          controls
          :src="selectedFromLibraryVideos[parseInt(indexs) + 1]"
        >
          {{ $t('studio.errors.e1') }}
        </video>
      </div>
      <vs-row class="mb-5">
        <div class="items-left mr-3">
          <small class="items-left">{{ $t('studio.course.c1') }}</small
          ><br />
          <vs-select v-model="sceneScriptPosition">
            <vs-select-item
              :key="index"
              :value="item.id"
              :text="item.label"
              v-for="(item, index) in options"
            />
          </vs-select>
        </div>
        <div class="items-left mr-3">
          <small class="items-left">{{ $t('studio.course.c2') }}</small
          ><br />
          <v-swatches
            v-model="sceneScriptColor"
            popover-x="right"
            swatches="text-advanced"
          ></v-swatches>
        </div>
        <div class="items-left mr-3">
          <small class="items-left">{{ $t('studio.course.c3') }}</small
          ><br />
          <v-swatches
            v-model="sceneBackgroundColor"
            popover-x="right"
            swatches="text-advanced"
          ></v-swatches>
        </div>
      </vs-row>
      <div class="items-left mb-3">
        <small class="items-left">{{ $t('studio.course.c4') }}</small>
        <p
          contenteditable="true"
          :id="'scene_script_' + indexs"
          class="scene-text"
          style="white-space: normal;"
        >
          {{ s }}
        </p>
      </div>
      <vs-button @click="prepareScene(indexs)"
        >{{ $t('studio.course.c5') }} {{ parseInt(indexs) + 1 }}</vs-button
      >
    </vx-card>
    <div style="margin-bottom: 150px"></div>
  </div>
</template>

<script>
import constants from '../../../constant';
import vSwatches from 'vue-swatches';
import 'vue-swatches/dist/vue-swatches.css';
export default {
  name: 'EditScenes',
  data() {
    return {
      constants,
      options: [
        { id: 1, label: 'Top' },
        { id: 2, label: 'Center' },
        { id: 3, label: 'Bottom' }
      ],
      sceneScriptPosition: null,
      sceneScriptColor: '#000000',
      sceneBackgroundColor: '#000000'
    };
  },
  components: {
    vSwatches
  },
  watch: {},
  computed: {
    preparedScenesVideos() {
      return this.$store.state.studio.preparedScenesVideos;
    },
    selectedFromLibraryVideos() {
      return this.$store.state.studio.selectedFromLibraryVideos;
    }
  },
  methods: {
    scriptInput(e) {
      this.$store.commit('studio/editSceneScript', e.target.innerText);
    },
    prepareScene(indexs) {
      this.$Progress.start();
      this.$vs.loading({ color: 'transparent' });
      this.$store.commit(
        'studio/editSceneScript',
        document.getElementById('scene_script_' + indexs).innerText
      );
      const dataObj = {
        video: this.$store.state.studio.selectedFromLibraryVideos[
          parseInt(indexs) + 1
        ],
        sceneScript: this.$store.state.studio.scenes[parseInt(indexs)],
        sceneScriptPosition: this.sceneScriptPosition,
        sceneScriptColor: this.sceneScriptColor,
        sceneBackgroundColor: this.sceneBackgroundColor
      };
      console.log(dataObj);
      this.$store
        .dispatch('studio/editSceneScript', dataObj)
        .then(res => {
          this.$store.commit('studio/setScriptSceneVideo', res.data.url);
          console.log('edit scene script', res.data.url);
          this.$forceUpdate();
          this.$Progress.finish();
          this.$vs.loading.close();
        })
        .catch(err => {
          console.log('edit scene script', err);
          this.$Progress.fail();
          this.$vs.loading.close();
        });
    },
    updateScroll() {
      // let scrollPosition = window.scrollY
      // console.log(scrollPosition)
      for (const s in this.$store.state.studio.scenes) {
        const rect = document
          .getElementById('scene_card_' + s)
          .getBoundingClientRect();
        // console.log(s, "bounding client", rect.top, rect.bottom);

        if (rect.top < 200 && rect.bottom > 500) {
          // console.log(s+" is active")
          this.$store.commit('studio/setActiveScene', parseInt(s) + 1);
        }
      }
    }
  },
  mounted() {
    window.addEventListener('scroll', this.updateScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.updateScroll);
    this.$store.commit('studio/setActiveScene', 1);
  }
};
</script>

<style scoped>
.scene-card {
  min-height: 30rem;
  opacity: 0.2;
  box-shadow: none;
  margin-bottom: 10rem;
}
.scene-video {
  /*background: #7367F0;
    color: white;*/
}
.activeScene {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1) !important;
  opacity: 1 !important;
}
.items-left {
  text-align: left;
  text-align: -moz-left;
  text-align: -webkit-left;
}
.items-right {
  text-align: right;
  text-align: -moz-right;
  text-align: -webkit-right;
}
.scene-text {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 0.5rem;
}
</style>
