<template>
  <div>
    <vx-card :title="$t('studio.text.t1')" class="text-window">
      <div class="text-left">
        <h6>{{ $t('studio.text.t2') }}</h6>
        <vs-input
          :placeholder="$t('studio.text.t2')"
          v-model="title"
          class="w-full mt-3 mb-3"
        />
        <h6>{{ $t('studio.text.t3') }}</h6>
        <vs-textarea
          :placeholder="$t('studio.text.t3')"
          v-model="description"
          class="w-full mt-3 mb-3"
        />
        <h6 class="w-full mt-3 mb-3">{{ $t('studio.text.t4') }}</h6>
        <vs-textarea
          class="video-script"
          :placeholder="$t('studio.text.t5')"
          v-model="videoScript"
        >
          {{ videoScript }}
        </vs-textarea>
      </div>
      <!--<vx-card no-shadow class="items-left mb-base mt-3">
        <div v-if="videoScript === ''" contenteditable="true" @input="scriptInput" data-text="Enter Your Video Script here...">
        </div>
        <div v-else contenteditable="true" @input="scriptInput">
          {{videoScript}}
        </div>
      </vx-card>-->
      <div class="items-center">
        <!--<div class="w-full items-center mb-base">
          <vs-button size="small" color="primary" class="mr-3" @click="summarizeScript">Summarize Script</vs-button>
          <vs-button size="small" color="primary" class="mr-3">Check Script for Errors</vs-button>
          <vs-button size="small" color="primary" class="mr-3">Long Scenes</vs-button>
        </div>-->
        <div class="w-full items-center">
          <vs-button color="dark" @click="createScenes">{{
            $t('studio.text.t6')
          }}</vs-button>
        </div>
      </div>
    </vx-card>
    <!--<div style="margin-bottom: 150px"></div>-->
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  computed: {
    videoScript: {
      get() {
        return this.$store.state.studio.videoScript;
      },
      set(value) {
        this.$store.commit('studio/setScript', value);
      }
    },
    title: {
      get() {
        return this.$store.state.studio.video.title;
      },
      set(value) {
        this.$store.commit('studio/SET_VIDEO_ATTR', {
          key: 'title',
          value: value
        });
      }
    },
    description: {
      get() {
        return this.$store.state.studio.video.description;
      },
      set(value) {
        this.$store.commit('studio/SET_VIDEO_ATTR', {
          key: 'description',
          value: value
        });
      }
    }
  },
  methods: {
    summarizeScript() {
      this.$Progress.start();
      this.$store
        .dispatch('studio/summarizeScript')
        .then(res => {
          console.log('summarized script', res);
          document.getElementById('video-script').innerText = res;
          this.$forceUpdate();
          this.$Progress.finish();
        })
        .catch(err => {
          console.log('error in summarization', err);
          this.$Progress.fail();
        });
    },
    scriptInput(e) {
      this.$store.commit('studio/setScript', e.target.innerText);
    },
    createScenes() {
      this.$Progress.start();
      this.$vs.loading({ color: 'transparent' });
      // this.$Progress.set(42)

      // save video script
      this.$store.commit('studio/SET_VIDEO_ATTR', {
        key: 'script',
        value: this.videoScript
      });

      // Sentence Detection
      this.$store
        .dispatch('studio/sentenceDetection')
        .then(resSentences => {
          console.log('sentences', resSentences);
          this.$store
            .dispatch('studio/keywordExtraction')
            .then(resKeywords => {
              console.log('keywords', resKeywords);
              this.$store
                .dispatch('studio/videoSuggestions')
                .then(resVideos => {
                  console.log('videos', resVideos);
                  this.$Progress.finish();
                  this.$vs.loading.close();
                })
                .catch(err => {
                  console.log(err);
                  this.$Progress.fail();
                });
            })
            .catch(err => {
              console.log(err);
              this.$Progress.fail();
            });
        })
        .catch(err => {
          console.log(err);
          this.$Progress.fail();
        });
    }
  }
};
</script>

<style scoped>
[contentEditable='true']:empty:not(:focus):before {
  content: attr(data-text);
}

.video-script.vs-con-textarea >>> .vs-textarea {
  height: 250px !important;
}

.items-center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.items-left {
  text-align: left;
  text-align: -moz-left;
  text-align: -webkit-left;
}

.items-right {
  text-align: right;
  text-align: -moz-right;
  text-align: -webkit-right;
}

.text-window {
  /*height: 33rem;*/
  /*margin-top: calc(100% - 33rem);*/
}

.text-window .vx-card {
  /*height: 20rem;*/
  border: 0.5px solid gray;
}

.text-window .vx-card div {
  padding: 0.2rem;
  height: 15rem;
  overflow-y: auto;
}
.text-window .vx-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
</style>
