<template>
  <div>
    <!--<vs-card title="Screen Resolution Preview" :style="cardStyle">
      <div slot="media">
        <img src="@/assets/images/pages/content-img-4.jpg" alt="screen-resolution" class="responsive card-img-top"/>
      </div>
    </vs-card>-->
    <img
      src="@/assets/images/pages/content-img-4.jpg"
      alt="screen-resolution"
      class="shadow responsive card-img-top"
      :style="cardStyle"
    />
  </div>
</template>

<script>
export default {
  name: 'FormatVideo',
  computed: {
    videoWidth: {
      get() {
        return this.$store.state.studio.videoWidth;
      }
    },
    videoHeight: {
      get() {
        return this.$store.state.studio.videoHeight;
      }
    },
    cardStyle: {
      get() {
        return {
          width: `${parseInt(this.videoWidth) / 2}px`,
          height: `${parseInt(this.videoHeight) / 2}px`
        };
      }
    }
  }
};
</script>

<style scoped>
img {
  -webkit-transition: all 0.3s ease-in-out;
}
</style>
