<template>
  <div>
    <div v-if="$store.state.studio.publishedVideo === null">
      <vs-button size="large" class="p-base" @click="publishVideo">{{
        $t('studio.publish.p1')
      }}</vs-button>
    </div>
    <div v-else>
      <video
        width="100%"
        height="auto"
        :src="constants.apiUrl + '/' + $store.state.studio.publishedVideo"
        controls
      >
        {{ $t('studio.errors.e1') }}
      </video>
    </div>
  </div>
</template>

<script>
import constants from '../../../constant';
export default {
  name: 'PublishVideo',
  data() {
    return {
      player: null,
      videos: [],
      indexs: 0,
      constants
    };
  },
  methods: {
    publishVideo() {
      console.log('merge in progress');
      const videos = [];
      const scenes = [];
      for (const v in this.$store.state.studio.addedAudioVideos) {
        videos[v] = this.$store.state.studio.addedAudioVideos[v];
      }
      videos.shift();

      const videoWikidata = {
        info: this.$store.state.studio.video,
        videos
      };

      console.log(videos);

      this.$Progress.start();
      this.$vs.loading({ color: 'transparent' });
      console.log('merge in progress');
      this.$store
        .dispatch('studio/concatenateVideos', videoWikidata)
        .then(res => {
          console.log('merging done', res);
          this.$store.commit('studio/setPublishedVideo', res.data.url);
          this.$Progress.finish();
          this.$vs.loading.close();
        })
        .catch(err => {
          console.log('merging failed', err);
          this.$Progress.fail();
          this.$vs.loading.close();
        });
    }
  },
  mounted() {},
  created() {}
};
</script>

<style scoped></style>
