<template>
  <div class="select-media">
    <vx-card
      v-for="(s, indexs) in $store.state.studio.scenes"
      :key="indexs"
      :id="'scene_card_' + indexs"
      class="scene-card"
      :class="{
        activeScene:
          $store.state.studio.currentActiveScene === parseInt(indexs) + 1
      }"
    >
      <p class="font-semibold items-left mb-base" style="white-space: normal;">
        {{ s }}
      </p>
      <div v-if="selectedFromLibraryVideos[parseInt(indexs) + 1] !== undefined">
        <video
          width="100%"
          height="auto"
          controls
          :src="selectedFromLibraryVideos[parseInt(indexs) + 1]"
        >
          <!--<source :src="selectedVideos[parseInt(indexs)+1][1]" type="video/mp4">-->
          {{ $t('studio.errors.e1') }}
        </video>
      </div>
      <div v-else>
        <video width="100%" height="auto" controls :src="initialVideo(indexs)">
          <!--<source :src="selectedVideos[parseInt(indexs)+1][1]" type="video/mp4">-->
          {{ $t('studio.errors.e1') }}
        </video>
      </div>
      <!--<div v-if="$store.state.videoWiki.selectedVideos[parseInt(indexs)+1] !== undefined">
        <vue-core-video-player :src="$store.state.videoWiki.selectedVideos[parseInt(indexs)+1][1]"></vue-core-video-player>
      </div>-->
    </vx-card>
  </div>
</template>

<script>
export default {
  name: 'SelectVideos',
  computed: {
    selectedFromLibraryVideos() {
      return this.$store.state.studio.selectedFromLibraryVideos;
    }
  },
  methods: {
    initialVideo(indexs) {
      const dataObj = {
        indexs: parseInt(indexs),
        value: this.$store.state.studio.videos[parseInt(indexs)][0][1]
      };
      this.$store.commit('studio/setInitialVideo', dataObj);
      return this.$store.state.studio.selectedFromLibraryVideos[
        parseInt(indexs) + 1
      ];
    },
    updateScroll() {
      // let scrollPosition = window.scrollY
      // console.log(scrollPosition)
      for (const s in this.$store.state.studio.scenes) {
        const rect = document
          .getElementById('scene_card_' + s)
          .getBoundingClientRect();
        // console.log(s, "bounding client", rect.top, rect.bottom);

        if (rect.top < 200 && rect.bottom > 500) {
          // console.log(s+" is active")
          this.$store.commit('studio/removeSearchedVideos');
          this.$store.commit('studio/setActiveScene', parseInt(s) + 1);
        }
      }
    }
  },
  mounted() {
    window.addEventListener('scroll', this.updateScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.updateScroll);
    this.$store.commit('studio/setActiveScene', 1);
  }
};
</script>

<style scoped>
.select-media {
  margin-bottom: 12rem;
}
.scene-card {
  min-height: 30rem;
  /*background: #7367F0;
    color: white;*/
  opacity: 0.2;
  box-shadow: none;
  margin-bottom: 10rem;
}
.activeScene {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1) !important;
  opacity: 1 !important;
}
</style>
