<template>
  <div class="vx-card" style="height: 100%;">
    <div class="vx-card__collapsible-content vs-con-loading__container">
      <div class="vx-card__header">
        <div class="vx-card__title">
          <h4 class="mb-3">
            {{ $t('studio.sidebarPanel.library.l2') }} {{ sceneNum }}
          </h4>
          <h6>{{ $t('studio.sidebarPanel.library.l3') }}</h6>
        </div>
      </div>
      <div class="vx-card__body">
        <div>
          <vx-input-group class="mb-base">
            <vs-input
              v-model="searchQuery"
              :placeholder="$t('studio.sidebarPanel.library.l4')"
            />
            <template slot="append">
              <div class="append-text btn-addon">
                <vs-button
                  color="primary"
                  icon-pack="feather"
                  icon="icon-search"
                  @click="searchVideo()"
                ></vs-button>
              </div>
            </template>
          </vx-input-group>
        </div>
        <vs-row class="mb-base">
          <p
            v-for="(k, indexk) in keywords"
            :key="indexk"
            class="font-semibold mr-3"
          >
            <u>#{{ k }}</u>
          </p>
        </vs-row>
        <div v-if="Object.keys($store.state.studio.searchedVideos).length > 0">
          <div
            v-for="(v, indexv) in $store.state.studio.searchedVideos"
            :key="indexv"
            class="w-full mb-base"
          >
            <video
              width="100%"
              height="auto"
              @click="selectVideo(v)"
              style="cursor: pointer;"
            >
              <source :src="v[1]" type="video/mp4" />
              {{ $t('studio.errors.e1') }}
            </video>
            <div class="font-semibold items-left" style="white-space: normal;">
              #{{ v[3].substring(0, v[3].length - 2) }}
            </div>
          </div>
        </div>
        <div
          v-for="(v, indexv) in $store.state.studio.videos[sceneNum - 1]"
          :key="indexv"
          class="w-full mb-base"
        >
          <video
            width="100%"
            height="auto"
            @click="selectVideo(v)"
            style="cursor: pointer;"
          >
            <source :src="v[1]" type="video/mp4" />
            {{ $t('studio.errors.e1') }}
          </video>
          <!--          <div class="vx-row mx-auto">-->
          <!--            <div @click="selectVideo(v)" class="vx-col w-1/2">-->
          <!--              <vs-icon icon="check" size="medium" color="primary"></vs-icon>-->
          <!--            </div>-->
          <!--            <div class="vx-col w-1/2">-->
          <!--              <vs-icon icon="close" size="medium" color="red"></vs-icon>-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="font-semibold items-left" style="white-space: normal;">
            #{{ v[3].substring(0, v[3].length - 2) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LibraryItem',
  data() {
    return {
      searchQuery: ''
    };
  },
  props: ['keywords', 'sceneNum'],
  methods: {
    selectVideo(v) {
      this.$store.commit('studio/selectVideo', v[1]);
      console.log(
        'selected videos',
        this.$store.state.studio.selectedFromLibraryVideos
      );
    },
    searchVideo() {
      const dataObj = {
        searchQuery: this.searchQuery,
        srcLang: this.$store.state.studio.sourceLanguage
      };
      this.$store.dispatch('studio/searchVideo', dataObj).catch(err => {
        console.log(err);
      });
    }
  }
};
</script>

<style scoped>
.items-center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}
.items-left {
  text-align: left;
  text-align: -moz-left;
  text-align: -webkit-left;
}
</style>
