<template>
  <div class="vx-card items-center" style="height: 100%;">
    <div class="vx-card__collapsible-content vs-con-loading__container">
      <div class="vx-card__body items-center">
        <!--<vx-card v-if="Object.keys(audioList).length === 0" no-shadow>
          <p style="white-space: normal;" class="font-semibold">When you create scenes, audio suggestions will appear here</p>
        </vx-card>
        <div v-else v-for="(a, indexa) in audioList" :key="indexa">
          <div class="items-left mb-base" @click="selectAudio(a)">
            <h6 class="mb-2">{{a.name}}</h6>
            <audio class="audio-el" controls>
              <source :src="$store.state.videoWiki.API_URL + a.url" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MusicPanel',
  computed: {
    audioList() {
      return this.$store.state.studio.audios;
    },
    selectAudio(a) {
      this.$store.commit('studio/selectAudio', a);
    }
  },
  methods: {
    callback(msg) {
      console.debug('Event: ', msg);
    }
  }
};
</script>

<style scoped>
.items-left {
  text-align: left;
  text-align: -moz-left;
  text-align: -webkit-left;
}

.audio-el {
  width: -webkit-fill-available;
}
</style>
