<template>
  <div class="vx-card items-center" style="height: 100%;">
    <div class="vx-card__collapsible-content vs-con-loading__container">
      <div class="vx-card__body items-center">
        {{ $t('studio.sidebarPanel.publish.p1') }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PublishPanel'
};
</script>

<style scoped></style>
