<template>
  <div class="vx-card" style="height: 100%;">
    <div class="vx-card__collapsible-content vs-con-loading__container">
      <div class="vx-card__body">
        <template>
          <div class="w-full items-center">
            <vs-button @click="prepareAllScenes">{{
              $t('studio.sidebarPanel.course.c1')
            }}</vs-button>
          </div>
          <div
            v-for="(v, indexv) in selectedVideos"
            :key="indexv"
            class="w-full mb-base"
          >
            <div v-if="v !== undefined && indexv !== 0">
              <h5 class="mb-3">Scene {{ indexv }}</h5>
              <video
                width="100%"
                height="auto"
                @click="selectVideo(v)"
                style="cursor: pointer;"
                :src="v"
              >
                <!--<source :src="v[1]" type="video/mp4">-->
                {{ $t('studio.sidebarPanel.course.c2') }}
              </video>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ScenesPanel',
  computed: {
    selectedVideos() {
      return this.$store.state.studio.selectedFromLibraryVideos;
    }
  },
  methods: {
    selectVideo(v) {},
    prepareAllScenes() {
      this.$store.commit(
        'studio/setPrepareAllScenes',
        this.$store.state.studio.selectedFromLibraryVideos
      );
      this.$store.commit('studio/toggleMusic');
    }
  }
};
</script>

<style scoped>
.items-center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}
</style>
