<template>
  <div class="vx-card items-center" style="height: 100%;">
    <div class="vx-card__collapsible-content vs-con-loading__container">
      <div class="vx-card__body items-center">
        <vx-card
          v-if="Object.keys($store.state.studio.scenes).length === 0"
          no-shadow
        >
          <p style="white-space: normal;" class="font-semibold">
            {{ $t('studio.sidebarPanel.text.t1') }}
          </p>
        </vx-card>
        <vx-card
          v-else
          v-for="(s, indexs) in $store.state.studio.scenes"
          :key="indexs"
          no-shadow
          style="background: #7367F0; color: white;"
          class="mb-3"
        >
          <p class="items-left" style="white-space: normal;">
            {{ s }}
          </p>
        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Text'
};
</script>

<style scoped>
.vx-card {
  cursor: auto;
}

.vx-card__title h4 {
  color: white !important;
}

.items-center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.items-left {
  text-align: left;
  text-align: -moz-left;
  text-align: -webkit-left;
}
</style>
