<template>
  <div class="w-full">
    <vs-button
      :id="'recordButton_' + sceneNum"
      class="mb-3"
      :color="recordingInProcess ? 'danger' : 'primary'"
      >{{ $t('studio.voice.v1') }}</vs-button
    >
    <h6 class="mb-base">{{ prettyTime | prettify }}</h6>
    <ul :id="'playlist_' + sceneNum" class="mb-base"></ul>
    <vs-button v-if="recordingReady" @click="audioVideoMerge">{{
      $t('studio.voice.v2')
    }}</vs-button>
  </div>
</template>

<script>
const MicRecorder = require('mic-recorder-to-mp3');
export default {
  name: 'audio-recorder',
  props: ['sceneNum'],
  data() {
    return {
      button: null,
      recorder: null,
      recordingInProcess: false,
      recordingReady: false,
      audioBlob: null,
      isRunning: true,
      minutes: 0,
      secondes: 0,
      time: 0,
      timer: null
    };
  },
  filters: {
    prettify: function(value) {
      const data = value.split(':');
      let minutes = data[0];
      let secondes = data[1];
      if (minutes < 10) {
        minutes = '0' + minutes;
      }
      if (secondes < 10) {
        secondes = '0' + secondes;
      }
      return minutes + ':' + secondes;
    }
  },
  computed: {
    prettyTime() {
      const time = this.time / 60;
      const minutes = parseInt(time);
      const secondes = Math.round((time - minutes) * 60);
      return minutes + ':' + secondes;
    }
  },
  methods: {
    startRecording() {
      this.recorder
        .start()
        .then(() => {
          this.startTimer();

          this.button.textContent = this.$t('studio.voice.v3');
          this.recordingInProcess = true;
          document.querySelector('#playlist_' + this.sceneNum).innerHTML = '';
          // this.button.classList.toggle('btn-danger');
          this.recordingReady = false;
          this.button.removeEventListener('click', this.startRecording);
          this.button.addEventListener('click', this.stopRecording);
        })
        .catch(e => {
          console.error(e);
        });
    },
    toBase64(blob) {
      const reader = new FileReader();
      reader.readAsDataURL(blob);
      let base64data = null;
      return new Promise((resolve, reject) => {
        reader.onloadend = function() {
          base64data = reader.result;
          // console.log(base64data);
          resolve(base64data);
        };
      });
    },
    stopRecording() {
      this.recorder
        .stop()
        .getMp3()
        .then(([buffer, blob]) => {
          this.resetTimer();

          this.recordingInProcess = false;
          console.log(buffer, blob);

          this.toBase64(blob).then(res => {
            this.audioBlob = res;
            console.log('ab', this.audioBlob);
            const file = new File(buffer, 'music_' + this.sceneNum + '.mp3', {
              type: blob.type,
              lastModified: Date.now()
            });
            console.log(file);

            const li = document.createElement('li');
            const url = URL.createObjectURL(file);
            const player = new Audio(URL.createObjectURL(file));
            player.controls = true;
            li.appendChild(player);
            document.querySelector('#playlist_' + this.sceneNum).innerHTML = '';
            document
              .querySelector('#playlist_' + this.sceneNum)
              .appendChild(li);

            this.button.textContent = this.$t('studio.voice.v4');

            const audioObj = {
              audio: file,
              sceneNum: this.sceneNum
            };
            this.$store.commit('studio/setRecordedAudio', audioObj);
            this.recordingReady = true;
            // this.button.classList.toggle('btn-danger');
            this.button.removeEventListener('click', this.stopRecording);
            this.button.addEventListener('click', this.startRecording);
          });
        })
        .catch(e => {
          console.error(e);
        });
    },
    audioVideoMerge() {
      const fd = new FormData();
      // fd.append("audio_data", this.audioBlob, this.audioBlob.name)
      // console.log(fd.entries())
      /* this.audioBlob.arrayBuffer().then(res => {
        console.log(res)
      }) */
      console.log('audio blob', this.audioBlob);

      const dataObj = {
        audio: this.audioBlob,
        video: this.$store.state.studio.preparedScenesVideos[
          this.$store.state.studio.currentActiveScene
        ]
      };
      this.$Progress.start();
      this.$vs.loading({ color: 'transparent' });
      this.$store
        .dispatch('studio/audioVideoMerge', dataObj)
        .then(res => {
          console.log(res);
          this.$emit('updateComponent');
          this.$Progress.finish();
          this.$vs.loading.close();
        })
        .catch(err => {
          console.log(err);
          this.$Progress.fail();
        });
    },
    startTimer() {
      this.isRunning = true;
      if (!this.timer) {
        this.timer = setInterval(() => {
          this.time++;
          /* if (this.time > 0) {
            this.time++
          } else {
            clearInterval(this.timer)
            //this.sound.play()
            this.reset()
          } */
        }, 1000);
      }
    },
    stopTimer() {
      this.isRunning = false;
      clearInterval(this.timer);
      this.timer = null;
    },
    resetTimer() {
      this.stopTimer();
      this.time = 0;
      this.secondes = 0;
      this.minutes = 0;
    }
  },
  mounted() {
    this.button = document.querySelector('#recordButton_' + this.sceneNum);
    this.recorder = new MicRecorder({
      bitRate: 128
    });
    this.button.addEventListener('click', this.startRecording);
  }
};
</script>

<style scoped></style>
